<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{ card.name }}</mat-card-title>
        <mat-card-subtitle>{{ card.subCategory }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ card.images[0].url }}" alt="{{ card.name }}" />
    <mat-card-content>
        <mat-card-title>Price: {{ card.price }}$</mat-card-title>
        <mat-card-subtitle>Rating: {{ card.rating }}</mat-card-subtitle>
        <mat-card-subtitle>Feedbacks: {{ card.feedbacksCount }}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="buy()">BUY</button>
    </mat-card-actions>
</mat-card>
