.product-card {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.mdc-card__media {
    padding: 0 10px;
}

mat-card-header {
    align-items: center;
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
}
