<mat-toolbar color="primary">
    <button
        mat-icon-button
        aria-label="Example icon-button with menu icon"
        class="example-icon"
        (click)="onMenuClick($event)"
    >
        <mat-icon>menu</mat-icon>
    </button>
    <div routerLink="/products-list" class="logo">
        <img alt="logo" class="logo__icon" [src]="applicationConfig?.shopIconSrc" />
        <span>{{ applicationConfig?.title }}</span>
    </div>
    <span class="example-spacer"></span>
    <button
        mat-icon-button
        aria-label="Example icon-button with heart icon"
        class="example-icon favorite-icon"
    >
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon" class="example-icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
