<app-header [applicationConfig]="applicationConfigMock" (menuClick)="sidenav.toggle()"></app-header>

<app-sidenav #sidenav>
    <!-- <ng-container ngProjectAs="navigation">
        {{ applicationConfigMock.title }}
        <mat-list role="list">
            <mat-list-item appInsertShadow role="listitem">Item 1</mat-list-item>
            <mat-list-item appInsertShadow role="listitem">Item 2</mat-list-item>
            <mat-list-item appInsertShadow role="listitem">Item 3</mat-list-item>
        </mat-list>
    </ng-container> -->

    <router-outlet></router-outlet>
</app-sidenav>

<app-popup-host></app-popup-host>
