<app-header [applicationConfig]="applicationConfigMock" (menuClick)="sidenav.toggle()"></app-header>

<app-sidenav #sidenav>
    <!-- <ng-template #navigationTemplate> -->
    <!-- <div id="navigation"> -->
    <ng-container ngProjectAs="navigation">
        {{ applicationConfigMock.title }}
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
    </ng-container>

    <ng-container ngProjectAs="test">
        <h2>Test</h2>
    </ng-container>

    <app-products-list></app-products-list>
    <!-- </ng-template> -->
</app-sidenav>

<app-popup-host></app-popup-host>
