<form #ngForm="ngForm" class="filter" (ngSubmit)="onLogFormValue(ngForm.value)">
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <!-- <input #ngModel="ngModel" ngModel matInput appIsStringAsyncValidator [minlength]="3" required /> -->
        <input matInput ngModel name="name" />
    </mat-form-field>

    <!-- {{ngModel.errors | json}} -->

    <div *ngIf="brands; else loaderTemplateRef" ngModelGroup="brands" class="checkbox-container">
        <!-- <mat-checkbox *ngFor="let brand of brands; let index = index" [ngModel]="false" [name]="index.toString()"> -->
        <mat-checkbox
            *ngFor="let brand of brands; let index = index"
            [ngModel]="false"
            [name]="brand"
        >
            {{ brand }}
        </mat-checkbox>
    </div>
    <div ngModelGroup="priceRange" class="price-range">
        <div>
            Min
            <app-counter-input name="min" [ngModel]="0"></app-counter-input>
        </div>
        <div>
            Max
            <app-counter-input name="max" [ngModel]="999999"></app-counter-input>
        </div>
    </div>

    <button type="submit">Submit</button>
    <!-- <button type="button" (click)="onLogFormValue(ngForm.value)">
        Submit
    </button> -->
</form>

<ng-template #loaderTemplateRef>
    <mat-spinner diameter="60" class="loader"></mat-spinner>
</ng-template>
