<ng-container *ngIf="isCustomDialogShow === false">
    <h2 mat-dialog-title>{{ data.title }}</h2>
    <mat-dialog-content>
        <ng-container [ngTemplateOutlet]="data.dialogContent"></ng-container>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button cdkFocusInitial [mat-dialog-close]="true">Apply</button>
    </mat-dialog-actions>
</ng-container>

<div class="custom-popup" [class.open]="isCustomDialogShow">
    <h2>Modal Title</h2>
    <div>
        <ng-container #viewport></ng-container>
    </div>
</div>
