<ng-container *ngIf="!isCustomDialogShow">
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <mat-dialog-content>
    <ng-container
      [ngTemplateOutlet]="data.dialogContent"
    ></ng-container>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>
      Cancel
    </button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
      Apply
    </button>
  </mat-dialog-actions>
</ng-container>

<div class="custom-popup" [class.open]="isCustomDialogShow" *ngIf="isCustomDialogShow">
  <ng-container #viewport></ng-container>
</div>


