<div *ngIf="products; else loaderTemplate" class="scroll-container">
    <ng-container
        *appPagination="
            let productsGroup of products;
            let pageIndexes = pageIndexes;
            let activeIndex = index;
            let next = next;
            let back = back;
            let selectIndex = selectIndex;
            chunkSize: directivePrefixChunkSizeValue
        "
    >
        <div class="cards">
            <app-card
                *ngFor="let product of productsGroup; trackBy: trackBy"
                class="card"
                [product]="product"
                (buy)="onProductBuy($event)"
            ></app-card>
        </div>
        <div class="pagination">
            <button mat-icon-button (click)="back()">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <button
                *ngFor="let pageIndex of pageIndexes"
                mat-raised-button
                [disabled]="pageIndex === activeIndex"
                (click)="selectIndex(pageIndex)"
            >
                {{ pageIndex + 1 }}
            </button>

            <button mat-icon-button (click)="next()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </ng-container>
</div>

<ng-template #loaderTemplate>
    <mat-spinner></mat-spinner>
</ng-template>
