<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>Рейтинг: {{ product.rating }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ product.images[0].url }}" alt="tablet" />
    <mat-card-content>
        <div>Цена</div>
        <p>{{ product.price }} $.</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" (click)="buy()">Купить</button>
    </mat-card-actions>
</mat-card>
